# OpenFisca-UK

This book contains an introduction to using OpenFisca-UK to model UK taxes and benefits. It is currently a work in progress and may be added to.

## Contents

This book contains two main pages:
- Populations: demonstrating country-wide simulations using survey microdata.
- Individuals: demonstrating calculations and projections for hypothetical manually-defined people and groups.

## Short demo

Calculating, for example, the total tax (Income Tax and National Insurance) liability by region can be done with the following code:

In [31]:
from openfisca_uk import Microsimulation
import pandas as pd

sim = Microsimulation(mode="frs", year=2018)

df = sim.df(["national_insurance", "income_tax", "people"])
pd.DataFrame(df.groupby(sim.calc("region", map_to="person")).sum()).sort_values(by="people", ascending=False)

                  national_insurance    income_tax     people
SOUTH_EAST              8.975195e+09  2.741507e+10  8992539.0
LONDON                  1.073732e+10  3.410568e+10  8865980.0
NORTH_WEST              5.991433e+09  1.319194e+10  7193453.0
EAST_OF_ENGLAND         5.999124e+09  1.667592e+10  6143956.0
WEST_MIDLANDS           4.532504e+09  1.033663e+10  5741630.0
SOUTH_WEST              4.547341e+09  1.208175e+10  5495102.0
YORKSHIRE               4.065987e+09  9.741411e+09  5404101.0
WALES                   4.820650e+09  1.196686e+10  5354745.0
EAST_MIDLANDS           4.024873e+09  9.533518e+09  4723465.0
SCOTLAND                2.353858e+09  5.112189e+09  3103415.0
NORTH_EAST              1.932940e+09  4.431116e+09  2604969.0
NORTHERN_IRELAND        1.329559e+09  2.528710e+09  1855200.0