# Validation

OpenFisca-UK runs unit and integration tests on each new version (see [here](https://github.com/PSLmodels/openfisca-uk/tree/master/tests)). In addition, the table below shows the aggregates produced by the model for the major taxes and benefits, and comparisons with UKMOD (latest [country report](https://www.iser.essex.ac.uk/research/publications/working-papers/cempa/cempa7-20.pdf)) and official sources[^1]. UKMOD and administrative sources refer to 2018, and OpenFisca-UK is simulated on policy at the end of 2018.

[^1]: From the UKMOD country report: unless otherwise specified: Department for Work and Pensions https://www.gov.uk/government/publications/benefit-expenditure-and-caseload-tables-2018 ; Best Start Grant: https://www2.gov.scot/Topics/Statistics/Browse/Social-Welfare/SocialSecurityforScotland/BSGJune2019; Child tax credit and working tax credit: HMRC statistics 
https://www.gov.uk/government/statistics/child-and-working-tax-credits-statistics-finalised-annual-awards-2016-to-2017; Scottish Child Payment: Scottish Fiscal Commission https://www.fiscalcommission.scot/forecast/supplementary-costing-scottish-child-payment; Scottish Child Winter Heating Assistance: Scottish Fiscal Commission 
https://www.fiscalcommission.scot/forecast/supplementary-costing-child-winter-heating-assistance; Income tax: HMRC statistics https://www.gov.uk/government/statistics/income-tax-liabilities-statistics-tax-year-2014-to-2015-to-tax-year-2017-to-2018; National Insurance Contributions: ONS Blue Book Table 5.2.4s

In [3]:
from openfisca_uk import Microsimulation
from openfisca_uk_data import FRS_SPI_Adjusted
import pandas as pd

sim = Microsimulation()

VARIABLES = (
    "income_tax",
    "basic_rate_earned_income_tax",
    "higher_rate_earned_income_tax",
    "add_rate_earned_income_tax",
    "national_insurance",
    "employee_NI_class_1",
    "employer_NI_class_1",
    "NI_class_4",
    "universal_credit",
    "tax_credits",
    "housing_benefit",
    "state_pension",
)

df = pd.DataFrame({"OpenFisca-UK": sim.df(VARIABLES, map_to="household", period=2019).sum().apply(lambda x: round(x / 1e+9, 1))})
df["Variable"] = (
    "Income Tax",
    "Labour income, basic rate",
    "Labour income, higher rate",
    "Labour income, additional rate",
    "Non-employer National Insurance",
    "Employee Class 1 NI",
    "Employer Class 1 NI",
    "Class 2 & 4 NI",
    "Universal Credit",
    "Tax Credits",
    "Housing Benefit",
    "State Pension",
)

_ = ""

df["UKMOD"] = (
    163.7,
    _,
    _,
    _,
    64.0,
    55.7,
    77.8,
    5.0,
    11.7,
    13.9,
    15.1,
    86.4,
)

df["External"] = (
    190.0,
    _,
    _,
    _,
    55.7,
    52.0,
    79.2,
    3.7,
    8.1,
    22.8,
    20.7,
    85.5,
)
df.set_index("Variable", drop=True, inplace=True)

def safe_ratio(x, y):
    try:
        return round(x / y, 2)
    except:
        return _

df["OpenFisca-UK / UKMOD"] = [safe_ratio(x, y) for x, y in zip(df["OpenFisca-UK"], df["UKMOD"])]
df["OpenFisca-UK / External"] = [safe_ratio(x, y) for x, y in zip(df["OpenFisca-UK"], df["External"])]

df

,OpenFisca-UK,UKMOD,External,OpenFisca-UK / UKMOD,OpenFisca-UK / External
Variable,,,,,
Income Tax,170.8,163.7,190.0,1.04,0.9
"Labour income, basic rate",99.4,,,,
"Labour income, higher rate",57.1,,,,
"Labour income, additional rate",9.9,,,,
Non-employer National Insurance,63.1,64.0,55.7,0.99,1.13
Employee Class 1 NI,58.5,55.7,52.0,1.05,1.12
Employer Class 1 NI,64.4,77.8,79.2,0.83,0.81
Class 2 & 4 NI,4.1,5.0,3.7,0.82,1.11
Universal Credit,10.0,11.7,8.1,0.85,1.23
Tax Credits,15.1,13.9,22.8,1.09,0.66
Housing Benefit,24.4,15.1,20.7,1.62,1.18
State Pension,86.4,86.4,85.5,1.0,1.01